button {
	padding: 0;
	background: none;
	cursor: pointer;
	font-weight: 600;
	transition: .3s
}

button:active {transition: .1s}

button {
	min-width: 88px;
	height: 36px;
	padding: 0 16px;
	border: none;
	border-radius: 4px;
	color: #1976D2;
	font-size: 14px
}

button:hover {background: rgba(25, 118, 210, .2)}

button:active {background: rgba(25, 118, 210, .4); transition: .1s}

#instagram_account {
	padding: 30px 0 0 0;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
	transition: .2s
}

#instagram_account:hover {filter: brightness(.5); -webkit-filter: brightness(.5)}

#instagram_account:active {
	filter: brightness(.4);
	-webkit-filter: brightness(.4);
	transition: .1s
}

a {outline: none; color: #1976D2; font-weight: bold; text-decoration: none}

/* RGB colors on buttons transitions */

#button-1:hover {background: rgba(74, 20, 140, .2)}

#button-1:active {background: rgba(74, 20, 140, .4)}

#button-2:hover {background: rgba(76, 175, 80, .2)}

#button-2:active {background: rgba(76, 175, 80, .4)}