@media (max-width: 602px) {#tabs button {font-size: 10px}}

@media (max-width: 417px) {#tabs button:first-of-type {font-size: 7px}}

body {
	margin: 0;
	overflow-x: hidden;
	background-color: #eee;
	cursor: default;
	text-align: center
}

header {
	height: 280px;
	background-image: url(../img/header.png);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover
}

article {padding-top: 16px}

content {min-height: 100vh}

img {
	width: 48px; 
	height: 48px
}

.nav_title,
.page_title {
	font-weight: bold
}