#tabs button {
	width: 25%;
	height: 48px;
	margin: 0 -2px;
	border: none;
	border-radius: 0 0 0 0;
	color: rgba(255, 255, 255, 0.7);
	font-size: 14px;
	font-weight: 600;
	transition: 0.2s
}

#tabs button:hover {
	background-color: rgba(0, 0, 0, 0.1);
	color: #fff
}

#tabs button:active {
	padding: 0;
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	transition: 0.1s
}

#tabs .active {
	border-bottom: 2px solid #fff;
	color: #fff
}