@font-face {
	font-family: "Roboto Regular";
	src: url(RobotoRegular.ttf);
	font-weight: normal
}

@font-face {
	font-family: "Roboto Bold";
	src: url(RobotoBold.ttf);
	font-weight: normal
}

body,
button,
input {
	font-family: "Roboto Regular"
}

b {
	font-weight: normal;
	font-family: "Roboto Bold"
}

/* text selection */
content::selection,
h2::selection,
p::selection,
b::selection,
a::selection {
	background-color: rgba(0, 0, 0, 0.1)
}