/** Cards **/

.card-container {
	margin: 24px 0;
	padding: 8px;
	border-radius: 8px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	background-color: var(--secondary)
}

/* Content */

.card-container .content {
	display: flex;
	align-items: center;
	margin-bottom: 32px;
	padding: 8px
}

.card-container .content ion-icon {
	margin-right: 8px;
	opacity: 0.5;
	font-size: 40px
}

.card-container .content h2 {
	margin: 0;
	color: inherit
}

/* Actions */
.card-container .actions {text-align: right}

/* Specific cards */

.card-estimate {color: var(--card-estimate)}

.card-call {color: var(--card-call)}

.card-call .content-inner {
	display: flex;
	flex-direction: column;
	align-items: flex-start
}