/** Header **/

header {
	top: 0;
	position: sticky;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	background-color: var(--primary);
	color: var(--secondary);
	font-weight: 600;
	z-index: 10
}

.header-title {
	padding: 20px 0;
	text-align: center;
	font-weight: 700
}