/** Navbar **/

nav {
	display: flex;
	height: 48px
}

/* Navbar buttons */

nav .btn {
	flex-grow: 1;
	position: relative;
	opacity: 0.65;
	color: var(--secondary);
	font-size: 14px
}
nav .btn::before {
	content: "";
	width: 0;
	height: 2px;
	bottom: 0;
	left: 50%;
	position: absolute;
	background-color: var(--secondary);
	transition-duration: 0.2s
}
nav .btn:hover {opacity: 1}
nav .btn:hover::before, nav .btn.active::before {
	width: 90%;
	left: 5%
}

/* Active button */
nav .btn.active {
	opacity: 1;
	font-weight: 700
}

/* Media queries */

/* 480px max */
@media screen and (max-width: 480px) {nav .btn {font-size: 12px}}