/** Navbar **/

nav {
	display: flex;
	height: 48px;
	background-color: red;
}

/* Navbar buttons */

nav .btn {
	margin: 0;
	flex-grow: 1;
	position: relative;
	opacity: 0.65;
	background-color: orange;
	color: var(--secondary);
	font-size: 14px
}
nav .btn::before {
	content: "";
	width: 0;
	height: 2px;
	bottom: 0;
	left: 50%;
	position: absolute;
	background-color: var(--secondary);
	transition-duration: 0.2s
}
nav .btn:hover {opacity: 1}
nav .btn:hover::before, nav .btn.active::before {
	width: 90%;
	left: 5%
}

/* Active button */
nav .btn.active {
	opacity: 1;
	font-weight: 700
}